# Node & Dependencies
node_modules/
.pnpm-store/

# Python virtualenvs & cache
*venv/
.venv/
__pycache__/
*.pyc

# Build artifacts
dist/
.astro/
.output/

# Logs & OS files
*.log
.DS_Store
Thumbs.db
.env
.env.*
